body{
    background-image: url(img/Előlap.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
div{
    color: white;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
}
.doboz{
    width: 50%;
    border: solid black;
    margin: auto;
    text-align:center;
    padding: 50px;
    background-color: rgba(151, 151, 145, 0.274);
    font-size: x-large;
}